.dist/
__pycache__

api/sandbox/section*/testcases/*.txt
api/sandbox/section*/runner*
runner.py
@/*

env/
.env

# [0-9]*.txt

media/testfile
media/topic
media/resource

*png
*jpg
*jpeg
*webp
tempCodeRunnerFile.py

*.sqlite3
*.exe